.wrap {
    width: 100%;
    padding: 20px;
    margin: auto;
}
.contenedor-formulario .formulario .input-group {
    position: relative;
    margin-bottom: 32px; 
}
.contenedor-formulario .formulario .input-group input[type="email"],
.contenedor-formulario .formulario .input-group input[type="password"] {
    font-size: 14px;
    color: #000000;
    width: 100%;
    outline: none;
    padding: 15px;
    background: none;
    border: none;
    border-bottom: 1px solid #000000; 
}
    .contenedor-formulario .formulario .input-group input[type="email"]:focus,
    .contenedor-formulario .formulario .input-group input[type="email"]:active,
    .contenedor-formulario .formulario .input-group input[type="password"]:focus,
    .contenedor-formulario .formulario .input-group input[type="password"]:active {
    outline: none;
    border-bottom: 2px solid #303F9F; 
}
/* .contenedor-formulario .formulario .input-group input[type="text"].error,
.contenedor-formulario .formulario .input-group input[type="email"].error,
.contenedor-formulario .formulario .input-group input[type="password"].error {
    border-bottom: 2px solid #D32F2F; 
}
.contenedor-formulario .formulario .input-group input[type="text"].error + label,
.contenedor-formulario .formulario .input-group input[type="email"].error + label,
.contenedor-formulario .formulario .input-group input[type="password"].error + label {
        color: #D32F2F; 
} */
.contenedor-formulario .formulario .input-group label {

    color: #000000; 
}
.contenedor-formulario .formulario .input-group label.label {
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      font-size: 16px;
      line-height: 16px;
      position: absolute;
      top: 16px;
      left: 0; 
}
.contenedor-formulario .formulario .input-group label.label.active {
    top: -12px;
    font-size: 13px;
    line-height: 12px;
    color: #303F9F;
}
