@tailwind base;
@tailwind components;
@tailwind utilities;


.inputForm {
    @apply w-full px-0 p-2 mb-6 placeholder:text-secondary placeholder:text-xs border-solid border-b border-black text-sm font-FitSquad text-secondary shadow-sm;
}
.inputSearch {
    @apply w-52 h-8 p-2 placeholder:text-secondary placeholder:text-xs font-FitSquad text-secondary;
}
.navStyle {
    @apply text-primary text-xs px-14 py-3 w-full;
}
.AdvisedContainer {
    @apply p-2 w-60 flex justify-start items-center gap-3 bg-white font-FitSquad;
}
.AdvisedItem {
    @apply text-sm font-extrabold;
}
.container {
    width: 291px;
    height: 43;
}
.container--dashboard {
    width: 1000px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile {
    width: 53px;
    height: 53px;
    border-radius: 100%;
}